//- - var logoHeader = "https://nativescripting.com/img/logo_full.svg"
//- - var logoHeaderMobile = "https://nativescripting.com/img/logo_full.svg"
//- - var logoFooter = "https://nativescripting.com/img/logo_full.svg"
//- - var logoFooterMobile = "https://nativescripting.com/img/logo_full.svg"

mixin logoHeader(logoHeader, logoHeaderMobile)
	.header__logo
		a(href="/") 
			img(src=logoHeader, alt="Logo")

			//- mobile
			//- picture
			//- 	source(media="(min-width: 768px)" srcset=logoHeader)
			//- 	img(src=logoHeaderMobile alt="Logo")

mixin logoFooter(logoFooter, logoFooterMobile)
	.footer__logo
		a(href="/") 
			img(src=logoFooter, alt="Logo")

			//- mobile
			//- picture
			//- 	source(media="(min-width: 768px)" srcset=logoFooter)
			//- 	img(src=logoFooterMobile alt="Logo")